@font-face{
    font-family: "Open Sans";
    src: url("./../assets/fonts/OpenSans/OpenSansSemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face{
    font-family: "Open Sans";
    src: url("./../assets/fonts/OpenSans/OpenSansBold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url("./../assets/fonts/SourceSansPro/SourceSansProRegular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: "Source Sans Pro";
    src: url("./../assets/fonts/SourceSansPro/SourceSansProSemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}
@font-face{
    font-family: "Source Sans Pro";
    src: url("./../assets/fonts/SourceSansPro/SourceSansProBold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family: "Fira Code";
    src: url("./../assets/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}