@require('./common/structure/head.ejs')
@require('./common/header.ejs')

<div class="bg-noise"></div>
<main id="main" data-page-id="restricted-persons">
  <section class="main-section" id="restricted-persons">
    <div class="background">
        <div class="bg-ellipse1">
            <img data-src="../assets/img/bg/Ellipse5.png" class="lazy" data-load-priority="5" alt="">
        </div>

        <div class="bg-ellipse2">
            <img data-src="../assets/img/bg/Ellipse6.png" class="lazy" data-load-priority="5" alt="">
        </div>
    </div>
    <div class="container">
      <div class="text-block">
      <h2 class="title-h2">Restricted Persons</h2>
      <section id="products">
        <h4 class="title-h4">Restricted Token Products</h4>
        <ul>
          <li class="desc-3">
            <a href="https://docs.idle.finance/developers/best-yield/deployed-contracts" target="_blank">All Best Yield vaults listed here</a>
          </li>
          <li class="desc-3">
            <a href="https://docs.idle.finance/developers/yield-tranches/deployed-contracts" target="_blank">All Yield Tranches listed here</a>
          </li>
        </ul>
      </section>
      <section id="disclaimer">
        <h4 class="title-h4">Disclaimer regarding the Tokens Restricted for Restricted Persons</h4>
        <p class="desc-3">
          You shall not acquire our restricted token products if you are: a citizen, resident (tax or otherwise), and/or green card holder, incorporated in, owned or controlled by a person or entity in, located in, or have a registered office or principal place of business in the U.S. (defined as a U.S. person), or if you are a person in any jurisdiction in which such offer, sale, and/or purchase of any of our token products is unlawful, prohibited, or unauthorized (together with U.S. persons, a “Restricted Person”).  The term “Restricted Person” includes, but is not limited to, any natural person residing in, or any firm, company, partnership, trust, corporation, entity, government, state or agency of a state, or any other incorporated or unincorporated body or association, association or partnership (whether or not having separate legal personality) that is established and/or lawfully existing under the laws of, a jurisdiction in which such offer, sale, and/or purchase of any of our token products is unlawful, prohibited, or unauthorized).
          <br /><br />
          None of our token products have been or will be registered under the U.S. Securities Act of 1933, as amended, or with any securities regulatory authority of any state or other jurisdiction of the U.S.  Our restricted tokens may not be offered, sold, or delivered within the U.S. to, or for the account or benefit of, Restricted Persons.  Our restricted tokens that may be offered on secondary markets and other platforms are not for distribution to any Restricted Person.  No offers, sales, resales, or deliveries of any of our token products may be made in or from any jurisdiction (including the U.S.), except in circumstances that will result in compliance with any applicable laws and regulations and that will not impose any obligations on Idle Finance.  Persons who obtain our token products are required to inform themselves about and adhere to any such restrictions.  Idle Finance reserves the right to impose further restrictions at its sole discretion, which will be communicated through its terms of service or on its website.
        </p>
      </section>
    </div>
    <p class="desc-3">Latest update: Jan 16th, 2024</p>
  </section>
</main>

@require('./common/scrollToTop.ejs')
@require('./common/footer.ejs')
@require('./common/structure/foot.ejs')
